@media (max-width:720px){
    html{
    overflow-x: hidden;
}

body {
    background-color: #7F95D1;
}

    h1 {
        position: absolute;
        width: 526px;
        height: 0px;
        left: 41%;
        top: 8%;
        font-family: 'Zen Loop', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 0px;
        /* or 0% */

        display: flex;
        align-items: flex-end;
        text-align: center;
        color: #FFFFFF;
    }

    h2 {
        position: absolute;
        width: 512px;
        height: 13px;
        left: 37%;
        top: 100px;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 13px;
        /* or 72% */

        display: flex;
        align-items: flex-end;
        text-align: center;
        letter-spacing: 0.066px;
        color: #FFFFFF;
    }

    .bwid {
        position: absolute;
        width: 250px;
        height: 250px;
        top: 200px;
        left: 35px;
    }

    .bvideo {
        position: absolute;
        width: 213px;
        height: 213px;
        top: 218px;
        left: 53px;
    }

    .wwid {
        position: absolute;
        width: 250px;
        height: 250px;
        top: 600px;
        left: 400px;
    }

    .wvideo {
        position: absolute;
        width: 213px;
        height: 213px;
        top: 618px;
        left: 418px;
    }

    .bwid2 {
        position: absolute;
        width: 250px;
        height: 250px;
        top: 1000px;
        left: 35px;
    }

    .bvideo2 {
        position: absolute;
        width: 213px;
        height: 213px;
        top: 1018px;
        left: 53px;
    }

    .wwid2 {
        position: absolute;
        width: 250px;
        height: 250px;
        top: 1400px;
        left: 400px;
    }

    .wvideo2 {
        position: absolute;
        width: 213px;
        height: 213px;
        top: 1418px;
        left: 418px;
    }

   .footer {
        position: absolute;
        width: 100%;
        height: 65px;
        right: 0px;
        left: 0px;
        top: 1800px;
    }



























}
